<div id="station_detail_container">
    <div class="station_detail_btline" style="margin-top:40px;">
        <button class="station_detail_linebt line-7">7</button>
        <button class="station_detail_linebt line-bundang">수</button>
    </div>
    <div class="station_detail_title fixedclear">
        <hr class="station_detail_line line-bundang">
        <div class="station_detail_name line-bundang-title" style="left:365px;">
            <button class="station_detail_linebt line-bundang">수</button>
            <h2>강남구청</h2>
        </div>
        <div class="station_detail_prevnext"  style="left:360px;">
            <a href="#" class="station_detail_prev">
                <i class="fa-solid fa-arrow-left blue"></i><span>압구정로데오</span>
            </a>
            <a href="#" class="station_detail_next">
                <span>선정릉</span> <i class="fa-solid fa-arrow-right blue"></i>
            </a>
        </div>
    </div>

    <div class="station_timetable_container" style="margin-left:50px;">
        <div class="station_timetable_buttonbar">
            <span class="bold">시간대별 역 혼잡도 예측</span>
            <div>
                <button class="button">평일</button>
                <button class="button">토요일</button>
                <button class="button">휴일</button>
            </div>
        </div>
        <div class="station_congestion">
            <div class="station_congestion_updown">
                <div class="station_congestion_title">
                    <span>청량리 방면</span><span class="grey">상행</span>
                </div>
                <div class="station_congestion_bar">
                    <div class="station_congestion_block">
                        <button class="station_congestion_color space"></button>
                        <span>05-07</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color congested"></button>
                        <span>07-09</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color congested"></button>
                        <span>09-11</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color normal"></button>
                        <span>11-13</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color caution"></button>
                        <span>13-15</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color space"></button>
                        <span>15-17</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color space"></button>
                        <span>17-19</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color caution"></button>
                        <span>19-21</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color caution"></button>
                        <span>21-23</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color normal"></button>
                        <span>23-01</span>
                    </div>
                </div>
            </div>
            <div class="station_congestion_updown">
                <div class="station_congestion_title">
                    <span>인천 방면</span><span class="grey">하행</span>
                </div>
                <div class="station_congestion_bar">
                    <div class="station_congestion_block">
                        <button class="station_congestion_color space"></button>
                        <span>05-07</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color congested"></button>
                        <span>07-09</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color congested"></button>
                        <span>09-11</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color normal"></button>
                        <span>11-13</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color caution"></button>
                        <span>13-15</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color space"></button>
                        <span>15-17</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color space"></button>
                        <span>17-19</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color caution"></button>
                        <span>19-21</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color caution"></button>
                        <span>21-23</span>
                    </div>
                    <div class="station_congestion_block">
                        <button class="station_congestion_color normal"></button>
                        <span>23-01</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>