<!--{% block side_menu %}-->
{% load only_num %}
{% load getposition %}
    <div id="side_menu">
        <div id="side_menu_title">
            <h1 class="side_menu_titletxt"><i class="fa-solid fa-train-subway"></i></h1>
            <h2 class="side_menu_titletxt">
                안녕하세요,<br>지하철 혼잡도 예측 서비스입니다.
            </h2>
            <p class="side_menu_titletxt">
                역별, 경로별 예상 혼잡도를 알아보세요.
            </p>
        </div>
        <div id="side_menu_body">

            <div id="route_input">
                <div class="side_menu_label">
                    <label>경로 검색하기</label>
                    <a href="#" class="blue" onclick="clearroute()"><i class="fa-solid fa-arrows-rotate"></i> 다시 입력</a>
                </div>
                <div class="icon_input">
                    <i class="fa-solid fa-train-subway placeholder_icon"></i>
                    <input type="text" placeholder="역 이름 입력" class="side_menu_input" id="departure_station">
                </div>
                <div class="route_change_buttonct">
                    <button class="route_change_button blue button" onclick="routechange()"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
                </div>
                <div class="icon_input">
                    <i class="fa-solid fa-train-subway placeholder_icon"></i>
                    <input type="text" placeholder="역 이름 입력" class="side_menu_input" id="arrival_station">
                </div>
                <button class="button float_right" onclick="routeSearch()">찾기 <i class="fa-solid fa-arrow-right blue"></i></button>
            </div>
            <div style="clear:both"></div>


            <div id="route_result">
                <div id="route_when">
                    <span class="bold route_pdbt route_clicked" >지금 출발</span>
<!--                    <div id="route_predict" class="bold grey float_right">-->
<!--                        <span class="route_pdbt" >평일</span>-->
<!--                        | <span class="route_pdbt" >토요일</span>-->
<!--                        | <span class="route_pdbt" >휴일</span>-->
<!--                    </div>-->
                    <a href="/map/" id="route_rollup" class="float_right"><i class="fa-solid fa-chevron-up blue bold"></i></a>
                    <hr class="greyhr">
                </div>
                <div id="route_select">
                    <button class="button clicked" id="mintimebt" onclick="mintime()">최소시간</button>
                    <button class="button" id="mintfbt"  onclick="mintf()">최소환승</button>
                </div>
                <div id="route_result_mintime" class="route_results">
                    <div class="route_text">
                        <h3>{{routes.min_time.time}}분</h3> <span class="grey">최소시간</span>
                        <div class="route_detail float_right"  >
                            {{routes.min_time.st_cnt}}개역 <span class="grey">환승</span> {{ routes.min_time.pathList|length|add:-1 }}회</div>
                    </div>
                    <div class="route_list" >
                        <svg class="route_line" width = "50" height = "250" style="float:left">
                            <g>
                                {% for route in routes.min_time.pathList %}
                                    <line id = "{{ route.routeNm|only_num }}" x1 = "20" y1 = "{{ forloop.counter0|getposition }}" x2 = "20"
                                          y2 = "{{ forloop.counter0|getnextposition }}" class="line c{{ route.routeNm|only_num }}"></line>
                                {% endfor %}
                                {% for route in routes.min_time.pathList %}
                                    <line x1="20" y1="{{ forloop.counter0|getposition }}" x2="20"
                                          y2="{{ forloop.counter0|getposition }}" class="circle c{{ route.routeNm|only_num }}" />
                                    <line x1="20" y1="{{ forloop.counter0|getposition }}" x2="20"
                                          y2="{{ forloop.counter0|getposition }}" class="cw" />
                                    {% if forloop.counter == routes.min_time.pathList|length %}
                                        <line x1="20" y1="{{ forloop.counter|getposition }}" x2="20"
                                              y2="{{ forloop.counter|getposition }}" class="circle c{{ route.routeNm|only_num }}" />
                                        <line x1="20" y1="{{ forloop.counter|getposition }}" x2="20"
                                              y2="{{ forloop.counter|getposition }}" class="cw" />
                                    {% endif %}
                                {% endfor %}
    <!--                                <line x1="20" y1="15" x2="20" y2="15" class="circle c2" />-->
    <!--                                <line x1="20" y1="15" x2="20" y2="15" class="cw" />-->
    <!--                            <line x1="20" y1="83" x2="20" y2="83" class="circle c4" />-->
    <!--                            <line x1="20" y1="83" x2="20" y2="83" class="cw" />-->
    <!--                            <line x1="20" y1="151" x2="20" y2="151" class="circle c4" />-->
    <!--                            <line x1="20" y1="151" x2="20" y2="151" class="cw" />-->
                            </g>
                        </svg>
                        <ul>
                            {% for route in routes.min_time.pathList %}
                                <li>
                                    <button class="station_detail_linebt line-{{ route.routeNm|only_num }}">
                                        {{ route.routeNm|only_num }}호선</button>
                                    <span>{{ route.fname }}</span>
                                </li>
                            {% endfor %}
                                <li>
                                    <button class="station_detail_linebt line-{{ stations.endSt.line.serial_number }}">{{ stations.endSt.line.serial_number }}</button>
                                    <span>{{ stations.endSt.station_name }}</span>
                                </li>
                        </ul>
                        <div class="route_transfer" >
                            <ul class="grey">
                                {% for route in routes.min_time.pathList %}
                                    <li>{{ route.railLinkList|length }}개역 이동</li>
                                {% endfor %}
    <!--                            <li>4개역 이동</li>-->
    <!--                            <li>4개역 이동<span class="congested_txt bold"> 혼잡 예상</span></li>-->
    <!--                            <li>4개역 이동<span class="space_txt bold"> 원활 예상</span></li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="route_result_mintf" class="route_results" style="display:none">
                    <div class="route_text">
                        <h3>{{routes.min_tf.time}}분</h3> <span class="grey">최소환승</span>
                        <div class="route_detail float_right" >
                            {{routes.min_tf.st_cnt}}개역 <span class="grey">환승</span> {{ routes.min_tf.pathList|length|add:-1 }}회</div>
                    </div>
                    <div class="route_list" >
                        <svg class="route_line" width = "50" height = "250" style="float:left">
                            <g>
                                {% for route in routes.min_tf.pathList %}
                                    <line x1 = "20" y1 = "{{ forloop.counter0|getposition }}" x2 = "20"
                                          y2 = "{{ forloop.counter0|getnextposition }}" class="line c{{ route.routeNm|only_num }}"></line>
                                {% endfor %}
                                {% for route in routes.min_tf.pathList %}
                                    <line x1="20" y1="{{ forloop.counter0|getposition }}" x2="20"
                                          y2="{{ forloop.counter0|getposition }}" class="circle c{{ route.routeNm|only_num }}" />
                                    <line x1="20" y1="{{ forloop.counter0|getposition }}" x2="20"
                                          y2="{{ forloop.counter0|getposition }}" class="cw" />
                                    {% if forloop.counter == routes.min_tf.pathList|length %}
                                        <line x1="20" y1="{{ forloop.counter|getposition }}" x2="20"
                                              y2="{{ forloop.counter|getposition }}" class="circle c{{ route.routeNm|only_num }}" />
                                        <line x1="20" y1="{{ forloop.counter|getposition }}" x2="20"
                                              y2="{{ forloop.counter|getposition }}" class="cw" />
                                    {% endif %}
                                {% endfor %}
    <!--                                <line x1="20" y1="15" x2="20" y2="15" class="circle c2" />-->
    <!--                                <line x1="20" y1="15" x2="20" y2="15" class="cw" />-->
    <!--                            <line x1="20" y1="83" x2="20" y2="83" class="circle c4" />-->
    <!--                            <line x1="20" y1="83" x2="20" y2="83" class="cw" />-->
    <!--                            <line x1="20" y1="151" x2="20" y2="151" class="circle c4" />-->
    <!--                            <line x1="20" y1="151" x2="20" y2="151" class="cw" />-->
                            </g>
                        </svg>
                        <ul>
                            {% for route in routes.min_tf.pathList %}
                                <li>
                                    <button class="station_detail_linebt line-{{ route.routeNm|only_num }}">
                                        {{ route.routeNm|only_num }}호선</button>
                                    <span>{{ route.fname }}</span>
                                </li>
                            {% endfor %}
                                <li>
                                    <button class="station_detail_linebt line-{{ stations.endSt.line.serial_number }}">{{ stations.endSt.line.serial_number }}</button>
                                    <span>{{ stations.endSt.station_name }}</span>
                                </li>
                        </ul>
                        <div class="route_transfer" >
                            <ul class="grey">
                                {% for route in routes.min_tf.pathList %}
                                    <li class="routeli">{{ route.railLinkList|length }}개역 이동</li>
                                {% endfor %}
    <!--                            <li>4개역 이동</li>-->
    <!--                            <li>4개역 이동<span class="congested_txt bold"> 혼잡 예상</span></li>-->
    <!--                            <li>4개역 이동<span class="space_txt bold"> 원활 예상</span></li>-->
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
<!--{% endblock %}-->