<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3744ba3e08.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.min.css" />
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>

</head>
<body> 
    <div id="main">
        <div id="side_menu">
            <div id="side_menu_title">
                <h1 class="side_menu_titletxt"><i class="fa-solid fa-train-subway"></i></h1>
                <h2 class="side_menu_titletxt">
                    안녕하세요,<br>지하철 혼잡도 예측 서비스입니다.
                </h2>
                <p class="side_menu_titletxt">
                    역별, 경로별 예상 혼잡도를 알아보세요.
                </p>
            </div>
            <div id="side_menu_body">
                <div id="station_input" class="fixedclear">
                    <div class="side_menu_label">
                        <label>역 검색하기</label>
                        <a href="#" class="blue"><i class="fa-solid fa-arrows-rotate"></i> 다시 입력</a>
                    </div>
                    <div class="icon_input">
                        <i class="fa-solid fa-train-subway placeholder_icon"></i>
                        <input type="text" placeholder="역 이름 입력" class="side_menu_input">
                    </div>
                    <button class="button float_right">찾기 <i class="fa-solid fa-arrow-right blue"></i></button>
                </div>
                <div style="height:50px;"></div>
                <div id="route_input">
                    <div class="side_menu_label">
                        <label>경로 검색하기</label>
                        <a href="#" class="blue"><i class="fa-solid fa-arrows-rotate"></i> 다시 입력</a>
                    </div>
                    <div class="icon_input">
                        <i class="fa-solid fa-train-subway placeholder_icon"></i>
                        <input type="text" placeholder="역 이름 입력" class="side_menu_input">
                    </div>
                    <div class="route_change_buttonct"> 
                        <button class="route_change_button blue button"><i class="fa-solid fa-arrow-right-arrow-left"></i></button>
                    </div>
                    <div class="icon_input">
                        <i class="fa-solid fa-train-subway placeholder_icon"></i>
                        <input type="text" placeholder="역 이름 입력" class="side_menu_input">
                    </div>
                    <button class="button float_right">찾기 <i class="fa-solid fa-arrow-right blue"></i></button>
                </div>
            </div>
        </div>
        

        <div id="station_detail_container">

            <a class="container_close"><i class="fa-solid fa-xmark blue"></i></a>

            <div class="station_detail_btline">
                <button class="station_detail_linebt line-7">7</button>
                <button class="station_detail_linebt line-bundang">수</button>
                <div class="station_detail_buttonbar">
                    <button class="button" id="placebutton" >주변 장소 <i class="fa-solid fa-location-dot blue"></i></button>
                    <button class="button">혼잡도 예측 <i class="fa-solid fa-magnifying-glass blue"></i></button>
                    <div class="place_dropdown">
                        <h4>이 주변 장소</h4>
                        <hr class="greyhr">
                        <ul class="place_dropdown_ul">
                            <li class="place_dropdown_list">
                                <i class="fa-solid fa-flag green"></i>
                                <div class="place_dropdown_detail">
                                    <span>서울 무형문화재 전수회관</span>
                                    <a class="blue">링크</a><br>
                                    <span class="blue bold exit">1번 출구</span>
                                </div>
                            </li>
                            <li class="place_dropdown_list">
                                <i class="fa-solid fa-flag green"></i>
                                <div class="place_dropdown_detail">
                                    <span>서울 무형문화재 전수회관</span>
                                    <a class="blue">링크</a><br>
                                    <span class="blue bold exit">1번 출구</span>
                                </div>
                            </li>
                            <li class="place_dropdown_list">
                                <i class="fa-solid fa-flag green"></i>
                                <div class="place_dropdown_detail">
                                    <span>서울 무형문화재 전수회관</span>
                                    <a class="blue">링크</a><br>
                                    <span class="blue bold exit">1번 출구</span>
                                </div>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="station_detail_title fixedclear">
                <hr class="station_detail_line line-bundang">
                <div class="station_detail_name line-bundang-title">
                    <button class="station_detail_linebt line-bundang">수</button>
                    <h2>강남구청</h2>
                </div>
                <div class="station_detail_prevnext">  
                    <a href="#" class="station_detail_prev">
                        <i class="fa-solid fa-arrow-left blue"></i><span>압구정로데오</span>
                    </a>
                    <a href="#" class="station_detail_next">
                        <span>선정릉</span> <i class="fa-solid fa-arrow-right blue"></i>
                    </a>
                </div>
            </div>



            <div class="station_realtime_container">
                <div class="station_realtime">
                    <span>청량리 방면</span>
                    <hr class="greyhr">
                    <div class="station_realtime_list">
                        <p><span class="realtime_label">왕십리행</span><span class="realtime_message blue">1분 후 도착</span></p>
                        <p><span class="realtime_label">왕십리행</span><span class="realtime_message blue">4분 후 도착</span></p> 
                    </div>
                </div>
                <div class="station_realtime_refresh">
                    <span class="grey">오후 6:35 기준 </span><i class="fa-solid fa-arrows-rotate blue"></i>
                </div>
                <div class="station_realtime">
                    <span>인천 방면</span>
                    <hr class="greyhr">
                    <div class="station_realtime_list">
                        <p><span class="realtime_label">고색행</span><span class="realtime_message blue">전역 도착</span></p>
                        <p><span class="realtime_label">고색행</span><span class="realtime_message blue">2분 후 도착</span></p> 
                    </div>                   
                </div>
            </div>

            <div class="station_timetable_container">
                <div class="station_timetable_buttonbar">
                    <span>열차 시간표</span>
                    <div>
                        <button class="button">평일</button>
                        <button class="button">토요일</button>
                        <button class="button">휴일</button>
                    </div>
                </div>
                <div class="station_timetable" >
                    <div class="station_timetable_list" data-simplebar>
                        <p>청량리 방면</p>
                        <span class="grey">상행</span>
                        <ul>
                            <li><span>05:44</span><span>왕십리행</span></li>
                            <li><span>05:44</span><span>왕십리행</span></li>
                            <li><span>05:44</span><span>왕십리행</span></li>
                            <li><span>05:44</span><span><span class="express">급</span>왕십리행</span></li>
                            <li><span>05:44</span><span>왕십리행</span></li>
                            <li><span>05:44</span><span>왕십리행</span></li>
                            <li><span>05:44</span><span>왕십리행</span></li>
                            <li><span>05:44</span><span>왕십리행</span></li>
                            <li><span>05:44</span><span>왕십리행</span></li>
                            <li><span>05:44</span><span>왕십리행</span></li>
                        </ul> 
                    </div>
                    <div class="vertical_sepline"></div>
                    <div class="station_timetable_list" data-simplebar>
                        <p>인천 방면</p>
                        <span class="grey">하행</span>
                        <ul>
                            <li><span>05:44</span><span>고색행</span></li>
                            <li><span>05:44</span><span>고색행</span></li>
                            <li><span>05:44</span><span>인천행</span></li>
                            <li><span>05:44</span><span><span class="express">급</span>고색행</span></li>
                            <li><span>05:44</span><span>고색행</span></li>
                            <li><span>05:44</span><span>인천행</span></li>
                            <li><span>05:44</span><span>고색행</span></li>
                            <li><span>05:44</span><span>인천행</span></li>
                            <li><span>05:44</span><span>고색행</span></li>
                            <li><span>05:44</span><span>인천행</span></li>
                        </ul> 
                    </div>
                </div>
            </div>
 
        </div>



    </div>
</body>
<script src="./js/detail.js"></script>
</html>