<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3744ba3e08.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.min.css" />
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
</head>
<body>
    <div id="main">
        {% include 'subway/side_menu.html' %}

        {% with linenum=station.line.serial_number  %}
        <div id="station_detail_container">

            <a class="container_close"><i class="fa-solid fa-xmark blue"></i></a>


            <div class="station_detail_btline">
                {% for station in stations %}
                    {% with linenum=station.line.serial_number  %}
                    <button class="station_detail_linebt line-{{linenum}}"
                            onclick="location.href='./{{station.station_code}}'">{{linenum}}</button>
                    {% endwith %}
                {% endfor %}
<!--                <button class="station_detail_linebt line-7">7</button>-->
<!--                <button class="station_detail_linebt line-bundang">수</button>-->
                <div class="station_detail_buttonbar">
                    <button class="button" id="placebutton" >주변 장소 <i class="fa-solid fa-location-dot blue"></i></button>
                    <button class="button">혼잡도 예측 <i class="fa-solid fa-magnifying-glass blue"></i></button>
                    <div class="place_dropdown">
                        <h4>이 주변 장소</h4>
                        <hr class="greyhr">
                        <ul class="place_dropdown_ul">
                            <li class="place_dropdown_list">
                                <i class="fa-solid fa-flag green"></i>
                                <div class="place_dropdown_detail">
                                    <span>서울 무형문화재 전수회관</span>
                                    <a class="blue">링크</a><br>
                                    <span class="blue bold exit">1번 출구</span>
                                </div>
                            </li>
                            <li class="place_dropdown_list">
                                <i class="fa-solid fa-flag green"></i>
                                <div class="place_dropdown_detail">
                                    <span>서울 무형문화재 전수회관</span>
                                    <a class="blue">링크</a><br>
                                    <span class="blue bold exit">1번 출구</span>
                                </div>
                            </li>
                            <li class="place_dropdown_list">
                                <i class="fa-solid fa-flag green"></i>
                                <div class="place_dropdown_detail">
                                    <span>서울 무형문화재 전수회관</span>
                                    <a class="blue">링크</a><br>
                                    <span class="blue bold exit">1번 출구</span>
                                </div>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="station_detail_title fixedclear">
                <hr class="station_detail_line line-{{linenum}}">
                <div class="station_detail_name line-{{linenum}}-title">
                    <button class="station_detail_linebt line-{{linenum}}">{{linenum}}</button>
                    <h2>{{ station.station_name }}</h2>
                </div>
                <div class="station_detail_prevnext">  
                    <a href="#" class="station_detail_prev">
                        <i class="fa-solid fa-arrow-left blue"></i><span>압구정로데오</span>
                    </a>
                    <a href="#" class="station_detail_next">
                        <span>선정릉</span> <i class="fa-solid fa-arrow-right blue"></i>
                    </a>
                </div>
            </div>



            <div class="station_realtime_container">
                <div class="station_realtime">
                    <span>{{station.line.upend_station}} 방면</span>
                    <hr class="greyhr">
                    <div class="station_realtime_list">
                        <p><span class="realtime_label">왕십리행</span><span class="realtime_message blue">1분 후 도착</span></p>
                        <p><span class="realtime_label">왕십리행</span><span class="realtime_message blue">4분 후 도착</span></p> 
                    </div>
                </div>
                <div class="station_realtime_refresh" >
                    <a id="station_realtime_refresh"><span class="grey">{{nowtime}} 기준 </span><i class="fa-solid fa-arrows-rotate blue"></i></a>
                </div>
                <div class="station_realtime">
                    <span>{{station.line.downend_station}} 방면</span>
                    <hr class="greyhr">
                    <div class="station_realtime_list">
                        <p><span class="realtime_label">고색행</span><span class="realtime_message blue">전역 도착</span></p>
                        <p><span class="realtime_label">고색행</span><span class="realtime_message blue">2분 후 도착</span></p> 
                    </div>                   
                </div>
            </div>

            <div class="station_timetable_container">
                <div class="station_timetable_buttonbar">
                    <span>열차 시간표</span>
                    <div>
                        <button class="button days clicked" id="bt1">평일</button>
                        <button class="button days" id="bt2">토요일</button>
                        <button class="button days" id="bt3">휴일</button>
                    </div>
                </div>
                {% include 'subway/timetable.html' %}
            </div>
 
        </div>
        {% endwith %}


    </div>
</body>
<script src="{% static 'js/detail.js' %}"></script>
<script src="{% static 'js/mapjs.js' %}"></script>
</html>